body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px;
  margin-top: 20px;
}

ul{
  display: flex;
  list-style: none;
}

.links-header{
  display: flex;
  text-decoration: none;
  color: #FF6060;
  margin-right: 50px; ;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.img-banner{
  max-width: 100%;
 height: auto;
  border-radius: 20px;
}

.banner-text{
  position: absolute;
  color: white;
}